<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>BookTalk - Join online bookclubs now!</title>

    <!-- Bootstrap Core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom Fonts -->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../static/vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link href="../static/css/bt.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">BookTalk</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#bookclubs">Our Bookclubs</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-6" style="padding-top: 7rem">
            <h1 class="mb-1">BookTalk</h1>
            <h3 class="mb-5" style="color: white">
              <em>Join Online Bookclubs</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
              >About us</a
            >
          </div>
          <div class="col-md-6">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin" action="/loginauth" method="POST">
                  <div class="form-label-group">
                    <input
                      type="email"
                      name="inputEmail"
                      class="form-control"
                      placeholder="Email address"
                      required
                      autofocus
                    />
                    <label for="inputEmail">Email address</label>
                  </div>

                  <div class="form-label-group">
                    <input
                      type="password"
                      name="inputPassword"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                    <label for="inputPassword">Password</label>
                  </div>
                  <button
                    class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="submit"
                  >
                    Sign in
                  </button>
                  <button
                    class="btn btn-lg btn-light btn-block text-uppercase"
                    data-toggle="modal"
                    data-target="#signUpModal"
                  >
                    Join the club!
                  </button>
                  <hr class="my-4" />
                  <button
                    class="btn btn-lg btn-facebook btn-block text-uppercase"
                    type="submit"
                  >
                    <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Reading with friends has never been easier!</h2>
            <p class="lead mb-5">
              We offer hundreds of virtual bookclubs for you to join. From
              classic fiction to modern nonfiction, we've got it all!
            </p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#bookclubs"
              >Featured Bookclubs</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Featured Bookclubs -->
    <section
      class="content-section bg-primary text-white text-center"
      id="bookclubs"
    >
      <div class="container">
        <div class="content-section-heading">
          <h2 class="mb-5">Check out some of our clubs!</h2>
        </div>
        <div class="row" style="color: black">
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="../static/img/just-mercy.jpg"
                alt="Just Mercy"
              />
              <div class="card-body">
                <h5 class="card-title">Just Mercy</h5>
                <p class="card-text">
                  A powerful, bold true story about the potential for mercy to
                  redeem us, and a clarion call to fix America’s broken system
                  of justice — from one of the most brilliant and influential
                  lawyers of our time.
                </p>
                <a href="#" class="btn btn-primary">Join Bookclub!</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="../static/img/just-mercy.jpg"
                alt="Just Mercy"
              />
              <div class="card-body">
                <h5 class="card-title">Just Mercy</h5>
                <p class="card-text">
                  A powerful, bold true story about the potential for mercy to
                  redeem us, and a clarion call to fix America’s broken system
                  of justice — from one of the most brilliant and influential
                  lawyers of our time.
                </p>
                <a href="#" class="btn btn-primary">Join Bookclub!</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="../static/img/just-mercy.jpg"
                alt="Just Mercy"
              />
              <div class="card-body">
                <h5 class="card-title">Just Mercy</h5>
                <p class="card-text">
                  A powerful, bold true story about the potential for mercy to
                  redeem us, and a clarion call to fix America’s broken system
                  of justice — from one of the most brilliant and influential
                  lawyers of our time.
                </p>
                <a href="#" class="btn btn-primary">Join Bookclub!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center" style="padding-top: 5rem">
        <h2 class="mb-4">So, what are you waiting for?</h2>
        <a
          href="#!"
          class="btn btn-xl btn-light mr-4"
          data-toggle="modal"
          data-target="#signUpModal"
          >Join now!</a
        >
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <p class="text-muted small mb-0">Copyright &copy; BookTalk 2020</p>
      </div>
    </footer>

    <!-- Sign up Modal-->

    <!-- Modal -->
    <div
      class="modal fade"
      id="signUpModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signUpModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signUpModalTitle">Join the club!</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-signin" action="/registerauth" method="POST">
              <div class="form-label-group">
                <input
                  type="email"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email address"
                  autofocus
                />
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input
                  type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                />
                <label for="inputPassword">Password</label>
              </div>
              <button
                class="btn btn-lg btn-light btn-block text-uppercase"
                type="submit"
              >
                Create account
              </button>
              <hr class="my-4" />
              <button
                class="btn btn-lg btn-facebook btn-block text-uppercase"
                type="submit"
              >
                <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/bt.min.js"></script>
  </body>
</html>
