<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>My Bookclubs - BookTalk</title>

    <!-- Bootstrap Core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom Fonts -->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../static/vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link href="../static/css/bt.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-md navbar-dark fixed-top"
      style="background-color: black"
    >
      <a class="navbar-brand" href="#">BookTalk</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >My Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-light mt-2 mt-md-0">
          Sign Out
        </button>
      </div>
    </nav>
    <!-- Header -->
    <header class="subhead d-flex">
      <div class="container my-auto text-center">
        <h1 class="mb-1">My Bookclubs</h1>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <img
                class="card-img-top"
                src="../static/img/just-mercy.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Just Mercy</h5>
                <p class="card-text">
                  A group dedicated to the discussion of Bryan Stevenson's
                  <i>Just Mercy</i>.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">55 Members</li>
              </ul>
              <div class="card-body">
                <a href="/mybookclub" class="card-link">Enter bookclub</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img
                class="card-img-top"
                src="../static/img/normal-people.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Normal People</h5>
                <p class="card-text">
                  Community of avid readers and enthusiasts of the book
                  <i>Normal People</i>.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">11 Members</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Enter bookclub</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img
                class="card-img-top"
                src="../static/img/a-promised-land.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">A Promised Land</h5>
                <p class="card-text">
                  We talk about anything and everything from President Obama's
                  <i>A Promised Land!</i>.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">32 Members</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Enter bookclub</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <p class="text-muted small mb-0">Copyright &copy; BookTalk 2020</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/bt.min.js"></script>
  </body>
</html>
